* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: sans-serif;
  font-size: 17px;
  line-height: 1.2em;
}
.header {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5em;
  align-items: center;
  justify-content: space-between;
  background-color: #262626;
}
.logo {
  font-family: "Comic Neue", cursive;
  margin: 0 15px;
  font-size: 1.3em;
  color: #fffaf5;
}
.list {
  display: flex;
}
.list-item {
  list-style: none;
}
.link {
  box-sizing: border-box;
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #faf8fa;
}
.btm {
  margin: 0 15px;
  border: 2px solid #fefefe;
  border-radius: 4px;
  padding: 1em;
  background-color: inherit;
  color: #eff3f3;
}
